body {
    font-size: 2rem;
}
.container {
    max-width: 100%;
}
.btn {
    font-size: 2rem;
}
.form-control {
    font-size: 2rem;
}
.navbar-brand {
    font-size: 2rem;
}
select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 15px);
}
tr:nth-child(even) {
background-color: #f2f2f2
}