#ReimbView {
    margin-top: 30px !important;
}
body {
    font-size: 2rem;
}
.container {
    max-width: 100%;
}
.btn {
    font-size: 2rem;
}
.form-control {
    font-size: 2rem;
}
.navbar-brand {
    font-size: 2rem;
}
tr:nth-child(even) {
  background-color: #f2f2f2
}
#logout:hover {
    color: white;
    transition: all .5s ease;
    cursor: pointer;
}
#new-reim-request:hover {
    color: darkgreen;
    transition: all .5s ease;
    cursor: pointer;

}
#logout-again:hover {
    color: darkgreen;
    transition: all .5s ease;
    cursor: pointer;
}
#table-move{
margin: 10rem 5rem;
}