<div class="container" >

  <br>

  <br>
    
  <h1 class="text-center">AGILERS</h1>
    
  <br>
    
  <h6 class="text-center">ALEX GABRIEL ILL LEET EXPENSE REIMBURSEMENT SYSTEM</h6>
    
  <br>
    
  <br>
    
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">Login</div>
        <div class="card-body">
            <div class="form-group row">
              <label for="username" class="col-md-4 col-form-label text-md-right">Username</label>
              <div class="col-md-6">
                <input type="text" id="username-cred" name="username" required autofocus>
              </div>
            </div>

            <div class="form-group row">
              <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
              <div class="col-md-6">
                <input type="password" id="password-cred" name="password" required>
              </div>
            </div>

            <div class="col-md-6 offset-md-4">
              <button id="submit-creds" class="btn btn-primary">
                Login
              </button>
              <br>
              <h5 class="btn btn-link">New User? <a id="register-button">Register Here.</a></h5>
            </div>
            <br>
            <div class="alert alert-danger text-center" id="alert-msg" role="alert">
              Invalid Credentials!
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

